body {background-color: white; margin:0 auto; font-family: Arial, Helvetica, sans-serif;}
h1 {text-align: center;}


#topbar {height: 4rem !important;
      background-color:white;
      width:100%;
      z-index: 1;
      position: fixed;
      box-shadow: 0px 1px 4px ;


    }


#mainphoto {background-image: url("mapa.jpg");
            z-index:-1;
            position:fixed;
            height: 28rem !important;
            width:100%;
            margin: 0 auto;
            margin-top: -4rem;
            }

#top {height: 24rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      margin: 0 auto;}

#content {background-color: white;
          width:100%;
          margin: 0 auto;
          }
#transp{ background-color: black;
	       min-height: 2rem !important;
	       margin: 0 auto;
         width:100%;
	       display: flex;
         color: white;

}

#footer {background-color: black;
        min-height: 3rem;
          width:100%;
          margin: 0 auto;

        }

h1 {align:center;}
h3 {color:blue;}



.grid-container{
		padding:2rem;
		display: grid;
		grid-gap: 22px 22px;
		grid-template-columns: 200px auto;
}


.dropdown{margin:0.6rem;}
label{display: block;}

#pagination
{
  display: inline;
  grid-column-start: 1;
  grid-column-end: 3;
  align-items: center;
  width:25%;
  margin:auto;

}

.paginbutton
{
  color:white;
  background-color:black;
  border-radius: 4%;
  margin-left: 10px;
  padding:8px;
  box-shadow: 1px 1px 2px black;

}

@media (min-width: 761px){
.grid-transp{
            padding:4rem;
            display: grid;
            grid-gap: 22px 22px;
            text-decoration-color: white;
            grid-template-columns: 50% 50%;
            width:100%;
          }

.grid-container {
            margin:0rem;
      		  display: grid;
      		  grid-gap: 22px 22px;
      		  grid-template-columns: 200px auto;}
.item1 {
      	     grid-column-start: 1;
      	     grid-column-end: 3;}

}

@media (max-width: 760px){
.grid-transp{
            padding:4rem;
            display: grid;
            grid-gap: 22px 22px;
            text-decoration-color: white;
            grid-template-columns: auto;
            width:100%;}

.grid-container {
            margin:0,1rem;
            display: grid;
            grid-gap: 22px 22px;
            grid-template-columns: auto;}

textarea {max-width:250px;}

.grid-item{
            grid-column-start: 1;
            grid-column-end: 1;
}

.item1 {
      	     grid-column-start: 1;
      	     grid-column-end: 1;}

            #pagination
            {
              display: inline;
              align-items: center;
              width:35%;
              margin:auto;

            }
}


textarea {min-width:600px;}



p {margin: 1rem;}

progress {
  border-radius: 1px;
  width: 90%;
  height: 22px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
  background-color: white;
  border-radius: 1px;
}
progress::-webkit-progress-value {
  background-color: green;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
}
progress::-moz-progress-bar {
  background-color: green;
  border-radius: 1px;
}
