body {background-color: white; margin:0 auto; font-family: Arial, Helvetica, sans-serif;}
h1 {text-align: center;}


#topbar {height: 4rem !important;
      background-color:white;
      width:100%;
      text-align: center;
      z-index: 1;
      position: fixed;
      box-shadow: 0px 1px 4px ;


    }


#mainphoto {background-image: url("12.png");
            z-index:-1;
            position:fixed;
            height: 28rem !important;
            width:100%;
            margin: 0 auto;
            margin-top: -4rem;
            }

#top {height: 24rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      margin: 0 auto;}

#content {background-color: white;
          width:100%;
          margin: 0 auto;
          }
#transp{ background-color: black;
	       min-height: 2rem !important;
	       margin: 0 auto;
         width:100%;
	       display: flex;
         color: white;

}

#footer {background-color: black;
        min-height: 3rem;
          width:100%;
          margin: 0 auto;

        }

h1 {align:center;}
h3 {color:blue;}
h3:hover{text-decoration: underline;}


.grid-container{
		padding:4rem;
		display: grid;
		grid-gap: 22px 22px;
		grid-template-columns: 200px auto;
}


.topbar_menu{
            display:inline-block;
            color:blue;
            text-decoration-style: solid;
            text-decoration:none;
            font-size: 18px;
            padding-left:2rem;
            padding-right: 2rem;
          padding-top:1.2rem;
        padding-bottom:1.5rem;}

.topbar_menu:hover{background-color:black;
            color: white;
            display:inline-block;

            }
@media (min-width: 761px){
.grid-transp{
            padding:4rem;
            display: grid;
            grid-gap: 22px 22px;
            text-decoration-color: white;
            grid-template-columns: 50% 50%;
            width:100%;
          }
}

@media (max-width: 760px){
  .grid-transp{
              padding:4rem;
              display: grid;
              grid-gap: 22px 22px;
              text-decoration-color: white;
              grid-template-columns: auto;
              width:100%;
            }
}

@media (min-width: 761px)
{
    .grid-container {
        margin:0rem;
		display: grid;
		grid-gap: 22px 22px;
		grid-template-columns: 200px auto;}
	.item1 {
	  grid-column-start: 1;
	  grid-column-end: 3;
    
}
    }
@media (max-width: 760px)
{
    .grid-container {
        margin:0,2rem;
		display: grid;
		grid-gap: 22px 22px;
		grid-template-columns: auto;
    }
}

p {margin: 2rem;}

progress {
  border-radius: 1px;
  width: 90%;
  height: 22px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
  background-color: yellow;
  border-radius: 1px;
}
progress::-webkit-progress-value {
  background-color: blue;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
}
progress::-moz-progress-bar {
  background-color: green;
  border-radius: 1px;
}
