body {background-color: #f5f5f5;
  margin:0 auto;
  font-family: Arial, Helvetica, sans-serif;}

#top{ background-color: white;
      width:100%;
      height:3rem;
      box-shadow: 0px 1px 3px;
      display:flex;
      text-align: center;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
    }

#name{background-color:#666666;
        margin: 0 auto;
        min-height: 6rem;
        width:100%;}


#content:after{margin: 0 auto;
        margin-top:4rem;
        width:100%;
        content: " ";
        display: block;
        clear: both;
        }

#comments{width:80%;
      float:left;
      margin-top:2%;
      margin-bottom:4%;
      margin-left:10%;
      margin-right:10%;}


.menubar {display: inline-block;
          color:#1770ff;
          font-weight: bold;
          }



.readmore {
              color: black;
              padding: 10px 26px;
              text-align: center;
              text-decoration: none;
              border: 2px solid green;
              border-radius: 6px;
              display: inline-block;
              font-size: 16px;
            }

.readmore:hover {
              background-color:green;
              color: white;
              padding: 10px 26px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
}

            .pointer{
                      grid-column: 1;
                      background-size: 100% ;
                      background-color: orange;}
            .title{grid-column: 2;
                  color:#1770ff;}

            .details{grid-column: 2;
                    color:#1770ff;}

            .desc {grid-column: 2;
                  }



@media (min-width: 761px){
#posts{width:60%;
      float:left;
      margin:2%;}

#info{width:30%;
      float:right;
      border: 2px solid #f2f2f2;
      margin:2%;}

#stats{width:30%;
      float:right;
      border: 2px solid #f2f2f2;
      margin:2%;}

.grid-container{
              display: grid;
              grid-gap: 22px 22px;
              grid-template-columns: 0.2% auto;

}

}

@media (max-width: 760px){
  #posts{width:90%;
        margin:2%;}

  #info{width:90%;
        float:left;
        margin:2%;}

  #stats{width:90%;
        float:left;
        border: 2px solid #f2f2f2;
        margin:2%;}
      }

      #post{width:90%;
            float:left;
            margin:5%;}

#footer{
        background-color:#c9c9c9;
        padding:auto;}
