<html>
<head>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>


<body>
  <div id="topbar">

    {% block categories %}
    {% endblock %}

  </div>
  <div id="mainphoto">
    <img src="{% static '12.png' %}">
  </div>
  <div id="top">
  <h1>Blog</h1><br>

</div>
<div id="transp">
  <div class="grid-transp">
    {% block progres %}
    {% endblock %}
    <div class="grid-item">{% block forum %}
    {% endblock %}</div>



  </div>
</div>
  <div id="content">
    <div class="grid-container">
     {% block content %}
     {% endblock %}
    </div>

  </div>

  <div id="footer">
  </div>
</body>

</html>
