<html>
<head>
  {% load static %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>


<body>

<div id="name">
  Template name
</div>
<div id="top">

  <div class="menubar">
    Category1 &nbsp
    Category2 &nbsp
    Category3 &nbsp
    Category3 &nbsp

  </div>

</div>


<div id="content">
  <div id="posts">
    <div class="grid-container">

      {% block content %}
      {% endblock %}

    </div>
  </div>

  <div id="info">
    <h3>Most recent topic from forum</h3>
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
  <div id="stats">
    <h3>Most recent topic from blog</h3>
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>



</div>

<div id="footer">
  Footer stuff
</div>

</body>

</html>
