{% extends "index.html" %}
{% load static %}

{% block categories %}
  <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for category in categories %}
      <li><a class="dropdown-item" href="{% url 'categories_posts' pk=category.pk %}">{{category.name}}</a></li>
    {% endfor %}
  </ul>
  </div>


{% endblock %}



{% block content %}

  {% for post in posts %}


       <div class="item1"><a href="{% url 'post_details' pk=post.pk %}"><h3>{{post.title}}</h3></a></div>

       <div class="grid-item"><img src="{% static 'bz.png' %}" width="200"></img></div>
       <div class="grid-item">Comments <b>{{post.comments.count}}</b><br><br>
         {{post.text}}
       </div>



  {% endfor %}

  {% include "pagination.html" with page=posts %}


{% endblock %}

{% block progres %}
<div>
  {% for key, value in cat_stats.items %}
    {{key}}<br>
    <progress max='100' value='{{value}}'></progress><br><br>
  {% endfor %}

</div>
{% endblock %}

{% block forum %}
  {% if forum_topic %}
    <h3 style="color:red;">Latest topic on forum</h3>
    <br>
    {{forum_topic}}

    <a href="{{}}">Go and read</a>
  {% else %}
    <h3 style="color:red;">Problem with connection</h3>
    <br>
    Can't get the latest topic from forum through its API.<br>
    The forum probably is not active.
  {% endif %}
{% endblock %}
